" DEOPLETE
let g:deoplete#enable_at_startup = 1
" <TAB>: completion.
inoremap <expr><TAB>  pumvisible() ? "\<C-n>" : "\<TAB>"
inoremap <expr><S-TAB>  pumvisible() ? "\<C-p>" : "\<TAB>"

" Tree navigation
nmap <leader>e :Vexplore<cr>
let g:netrw_banner = 0
let g:netrw_liststyle = 3
let g:netrw_browse_split = 4
let g:netrw_altv = 1
let g:netrw_winsize = 20

" TABULARIZE
nmap <Leader>a& :Tabularize /&<CR>
vmap <Leader>a& :Tabularize /&<CR>
nmap <Leader>a" :Tabularize /"<CR>
vmap <Leader>a" :Tabularize /"<CR>
nmap <Leader>a= :Tabularize /^[^=]*\zs=<CR>
vmap <Leader>a= :Tabularize /^[^=]*\zs=<CR>
nmap <Leader>a: :Tabularize /:<CR>
vmap <Leader>a: :Tabularize /:<CR>
nmap <Leader>a:: :Tabularize /:\zs<CR>
vmap <Leader>a:: :Tabularize /:\zs<CR>
nmap <Leader>a, :Tabularize /,<CR>
vmap <Leader>a, :Tabularize /,<CR>
nmap <Leader>a,, :Tabularize /,\zs<CR>
vmap <Leader>a,, :Tabularize /,\zs<CR>
nmap <Leader>a<Bar> :Tabularize /<Bar><CR>
vmap <Leader>a<Bar> :Tabularize /<Bar><CR>

" FZF
nmap <C-p> :FZF<CR>
let g:fzf_action = {
  \ 'ctrl-p': 'tab split',
  \ 'ctrl-x': 'split',
  \ 'ctrl-v': 'vsplit' }


" VIMTEX
let g:vimtex_enabled=1
"let g:vimtex_fold_enabled=1
let g:tex_flavor = 'latex'
let g:vimtex_latexmk_callback = 1
let g:vimtex_echo_ignore_wait = 1
"let g:vimtex_disable_version_warning = 1
let g:vimtex_compiler_latexmk = {'callback' : 0}
let g:tex_conceal=''


" Autopair
"let g:Autopairs = {'(':')', '[':']', '{':'}',"'":"'",'"':'"', "`":"`", '```':'```', '"""':'"""', "'''":"'''", '$':'$'}
"let g:AutoPairsMoveCharacter = "()[]{}\"'$"
au FileType tex let b:AutoPairs = AutoPairsDefine({'$':'$'})


let g:ale_fixers = {
\   '*': ['remove_trailing_lines', 'trim_whitespace'],
\   'python': ['autopep8', 'autoimport', 'reorder-python-imports'],
\}
"let g:ale_python_autoimport_executable='python -m autoimport'
"let g:ale_python_autopep8_options='--ignore E301'

let g:ale_linters = {
      \   'python': ['flake8'],
      \}
nnoremap <leader>f :ALEFix<cr>
nnoremap <leader>j :ALENext<cr>
nnoremap <leader>k :ALEPrevious<cr>

"set completeopt-=preview
set conceallevel=0 " json quotes

" Semshi
"nmap <silent> <leader>ee :Semshi error<CR>
